* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f5f5f7;
}
header {
  width: 100%;
  padding: 20px;
  background-color: #f5f5f7;
  text-align: center;
}
.logo {
  color: #5b47d1;
  font-size: 24px;
  padding: 10px 20px;
  background-color: #f0edff;
}
nav {
  display: inline-block;
}

li {
  display: inline;
  color: black;
  padding: 10px 20px;
}

li a {
  color: black;
  font-size: 24px;
  font-weight: 500;
}

/* AQ DAMTAVRDA HEADERI! */

/* iwyeba img over text */

.text-container {
  width: 100%;
  height: 400px;
  display: inline-block;
  /* background-color: red; */
  background-image: url(./images/bgone.jpg);
  background-size: 100%;
}

.text-container * {
  color: #ffffff;
  text-align: center;
  margin-top: 130px;
}

.text-container h1 {
  font-size: 48px;
  font-weight: 700;
}

.text-container p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 37px;
}

/* MOVRCHIT MEORE NAWILIS WVALEBAS!!!!!!! */

#latest-news {
  margin-top: 45px;
  margin-bottom: 49px;
  text-align: center;
  font-size: 36px;
}

/* IWYEBA CARDS */

.grid-card {
  display: block;
}
.grid-card span {
  margin-top: 15px;
  margin-left: 15px;
}
.grid-card h3 {
  margin: 15px 0px 6px 15px;
}

.grid-card article {
  max-width: 321px;
  margin: 15px 0px 6px 15px;
}
.card-container {
  display: flex;
  justify-content: center;
  text-align: left;
  height: 472px;
}

.card-container > div {
  display: inline-block;
  background-color: #ffffff;
  height: 472px;
  width: 360px;
  margin: 0 14.5px 14.5px 14.5px;
  vertical-align: top;
}

.first-color {
  height: 240px;
  background-color: #c7b8ff;
}

.first-card {
  color: rgb(0, 0, 0);
}

.second-color {
  height: 240px;
  background-color: #ffb8d8;
}

.third-color {
  height: 240px;
  background-color: #b8e0ff;
}

.fourth-color {
  height: 240px;
  background-color: #d4ffb8;
}
.fifth-color {
  height: 240px;
  background-color: #ffe4b8;
}

.sixth-color {
  height: 240px;
  background-color: #ffd4b8;
}
.card-container-S {
  display: flex;
  justify-content: center;
  text-align: left;
}

.card-container-S > div {
  display: inline-block;
  background-color: #ffffff;
  height: 472px;
  width: 360px;
  margin: 14.5px 14.5px 150px 14.5px;
}

/* DZLIVS MORCHA ES */

footer {
  background-color: #252424;
  height: 400px;
  color: #ffffff;
}

footer section {
  max-width: 1240px;
  height: 338px;
  display: flex;
  justify-content: left;
  margin-left: 250px;
}

.end-a {
  margin-top: 57px;
  margin-right: 80px;
}
.end-a p {
  max-width: 296px;
  margin: 11px 0px 11px 0;
}
#finisher {
  margin-top: 25px;
}

.end-b {
  margin-top: 57px;
}

.end-b P {
  margin: 10px 0px 10px 0;
}

.final-stroke {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020202;
  color: #86868b;
  height: 60px;
}
